fastapi==0.78.0
flake8==4.0.1
freezegun==1.2.1
greenlet
h11==0.13.0
httptools
idna==3.3
iniconfig==1.1.1
makefun==1.13.1
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.1
pyflakes==2.4.0
pyjwt[crypto]==2.3.0
pyparsing==3.0.9